version: '3.8'

services:

  postgres:
    image: postgres:13
    container_name: debuggers_reports_db
    environment:
      POSTGRES_USER: IN6AM
      POSTGRES_PASSWORD: Admin!
      POSTGRES_DB: debuggers_eats
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: